
/*
	Styles for use in displaying metrics.
	
	Assumes that main.css is also loaded, such that these 
	styles are in addition to the normal set of styles available
	to any page.
*/

/*
	Division Styles.
	
	Styles for placing the metric display's within a
	division. A few choices for formatting at the
	division level.
*/

#div_FullPage
  	{
		font-size: normal;
		background: #FFFFFF;
		width: 90%;
		height: auto;
		padding-left: .1em;
		margin-left: 1em;
		border: solid
	}

#div_RightBar
  	{
		font-size: small;
		background: #AAAA44;
		width: 20em;
		float: right;
		height: auto;
		padding-left: .1em;
		margin-left: 1em;
		border: solid
	}



/*
	Table styles.
*/

TABLE.metric_tblnorm {
	background-color: #AAAA44;
	font-size: normal
	}

TABLE.metric_tblXSmall {
	background-color: #AAAA44;
	font-size: x-small;
	margin-left: auto;
	margin-right: auto;
	width: 100%
	}

TR.metric_tblnorm_RowHdr {
	vertical-align: bottom;
	}

TD.metric_tblnorm_TblTitle {
	text-align: center;
	background-color: #BBBBBB;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold
	} /* Table's Title */

TD.metric_tblnorm_HdrPerson {
	text-align: left;
	background-color: #BBBBBB;
	margin-top: 0;
	margin-bottom: 0
	} /* Person's Name */

TD.metric_tblnorm_HdrRank {
	text-align: center;
	background-color: #BBBBBB;
	margin-top: 0;
	margin-bottom: 0;
	width: 5em
	} /* Rank */

TD.metric_tblnorm_HdrINT {
	text-align: center;
	background-color: #BBBBBB;
	margin-top: 0;
	margin-bottom: 0;
	width: 5em
	} /* Integer */

TD.metric_tblnorm_HdrFLT {
	text-align: center;
	background-color: #BBBBBB;
	margin-top: 0;
	margin-bottom: 0;
	width: 5em
	} /* Float */

TD.metric_tblnorm_HdrPCT {
	text-align: center;
	background-color: #BBBBBB;
	margin-top: 0;
	margin-bottom: 0;
	width: 5em
	} /* Percent */

TD.metric_tblnorm_HdrSTR {
	text-align: center;
	background-color: #BBBBBB;
	margin-top: 0;
	margin-bottom: 0;
	width: 5em
	} /* String */

TD.metric_tblnorm_CellPerson {
	text-align: left;
	background-color: #EEEEEE;
	margin-top: 0;
	margin-bottom: 0
	} /* Person's Name */

TD.metric_tblnorm_CellRank {
	text-align: center;
	background-color: #EEEEEE;
	margin-top: 0;
	margin-bottom: 0
	} /* Rank */

TD.metric_tblnorm_CellINT {
	text-align: center;
	background-color: #EEEEEE;
	margin-top: 0;
	margin-bottom: 0;
	} /* Integer */

TD.metric_tblnorm_CellFLT {
	text-align: center;
	background-color: #EEEEEE;
	margin-top: 0;
	margin-bottom: 0;
	} /* Float */

TD.metric_tblnorm_CellPCT {
	text-align: center;
	background-color: #EEEEEE;
	margin-top: 0;
	margin-bottom: 0
	} /* Percent */

TD.metric_tblnorm_CellSTR {
	text-align: center;
	background-color: #EEEEEE;
	margin-top: 0;
	margin-bottom: 0
	} /* String */

